[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = https://github.com/symfony/symfony1.git

[submodule "plugins/sfPropelORMPlugin"]
	path = plugins/sfPropelORMPlugin
	url = https://github.com/propelorm/sfPropelORMPlugin.git

